* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

/* navbar */

nav {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.logo-container, .sign-in {
    width: 25%;
    
}

a {
    text-decoration: none;
}

.menu {
    width: 50%;
}

.menu-list {
    list-style-type: none;
}

.menu-list > li {
    display: inline-block;
}

.menu .menu-list a {
    color: white;
    font-weight: bold;
    margin-right: 25px;
}

.menu .menu-list a:hover,
.menu .menu-list a:active,
.menu .menu-list a:focus {
    text-decoration: underline;
}

nav > div {
    float: left;
    height: 100%;
}

.btn {
    padding: 0.6em 0.7em;
    border-radius: 20px;
}


.sign-btn {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* jumbotron */

.jumbotron {
    width: 50%;
    margin: 0 auto;
    color: white;
    line-height: 1.7em;
    text-align: center;
    padding: 5em 0;
}

.jumbo-title {
    font-size: 2.5em;
    word-spacing: 5px;
}

.jumbo-text {
    font-size: 1.1em;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.download {
    background-color: white;
    color: black;
    margin-right: 1.2em;
}

.open {
    background-color: #23272A;
    color: white;
}

.big {
    padding: 0.8em 1.2em;
}

.arrow {
    font-size: 0.8em;
}


/* main */

.info-container {
    width: 80%;
    margin: 6em auto;
    padding-left: 5em;
}

.info-img, .info-desc {
    float: left;
}

.info-img {
    width: 60%;
}

.info-desc {
    width: 40%;
    padding-top: 1.7em;
}

.info-img > img {
    width: 80%;
}

/* .info-img {
    text-align: center;
} */

.info-title {
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 0.7em;
}

.info-desc.info-title {
    width: 50%;
}

.info-desc > p {
    font-size: 0.8em;
    line-height: 1.7em;
    width: 50%;
}

.bg-grey {
    width: 100%;
    padding: 2em 0;
    background-color: rgb(243, 239, 239);
}

.last-section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.last-section-info > p {
    width: 70%;
    margin: 0 auto;
}

.action > img {
    margin-bottom: -20px;
}

.action > h3 {
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 1.8em;
}

.action > .download {
    background-color: #8ea1e1;
    color: white;
}