* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

footer {
    background-color: #23272a;
    border-top: 2px solid #7289da;
    color: white;
}

/* navbar */

nav {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.logo-container, .sign-in {
    width: 25%;
    
}

a {
    text-decoration: none;
}

.menu {
    width: 50%;
}

.menu .menu-list a:hover {
    text-decoration: underline;
}
}

.menu-list {
    list-style-type: none;
}

.menu-list > li {
    display: inline-block;
}

.menu .menu-list a {
    color: white;
    font-weight: bold;
    margin-right: 25px;
}

.menu .menu-list a:hover,
.menu .menu-list a:active,
.menu .menu-list a:focus {
    text-decoration: underline;
}

nav > div {
    float: left;
    height: 100%;
}

.btn {
    padding: 0.6em 0.7em;
    border-radius: 20px;
}


.sign-btn {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* jumbotron */

.jumbotron {
    width: 50%;
    margin: 0 auto;
    color: white;
    line-height: 1.7em;
    text-align: center;
    padding: 5em 0;
}

.jumbo-title {
    font-size: 2.5em;
    word-spacing: 5px;
}

.jumbo-text {
    font-size: 1.1em;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.download {
    background-color: white;
    color: black;
    margin-right: 1.2em;
}

.jumbotron .download:hover,
.jumbotron .download:active,
.jumbotron .download:focus
 {
    color: #3161e0;
}

.jumbotron .open:hover,
.jumbotron .open:active,
.jumbotron .open:focus
 {
    color: #3161e0;
}



.open {
    background-color: #23272A;
    color: white;
}

.big {
    padding: 0.8em 1.2em;
}

.arrow {
    font-size: 0.8em;
}


/* main */

.info-container {
    width: 80%;
    margin: 6em auto;
    padding-left: 5em;
}

.info-img, .info-desc {
    float: left;
}

.info-img {
    width: 60%;
}

.info-desc {
    width: 40%;
    padding-top: 1.7em;
}

.info-img > img {
    width: 80%;
}

/* .info-img {
    text-align: center;
} */

.info-title {
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 0.7em;
}

.info-desc.info-title {
    width: 50%;
}

.info-desc > p {
    font-size: 0.8em;
    line-height: 1.7em;
    width: 50%;
}

.bg-grey {
    width: 100%;
    padding: 2em 0;
    background-color: rgb(243, 239, 239);
}

.last-section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.last-section-info > p {
    width: 70%;
    margin: 0 auto;
}

.action > img {
    margin-bottom: -20px;
}

.action {
    margin-bottom: 4em;
}

.action > h3 {
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 1.8em;
}

.action > .download {
    background-color: #8ea1e1;
    color: white;
}

.action .download:hover,
.action .download:active, 
.action .download:focus {
    color: #3161e0;
}
/* footer */

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 3em 0;
}

.footer-container .float {
    float:left;
}

.footer-container a {
    color: white;
}

.footer-title {
    color: #7289da;
    margin-bottom: 0.5em;
}


.social {
    width: 30%; 
}

.product, 
.company, 
.resource, 
.norm {
    width: 17.5%;
}

.socials-link {
    list-style-type: none;
    margin-top: 0.5em;
}

.socials-link > li {
    display: inline-block;
}

.socials-link li a{
    margin: 5px;
}

.footer-side-links {
    list-style-type: none;
    font-size: 0.8em;
}

.footer-side-links li {
    margin-bottom: 0.5em;
}

.footer-side-links a:hover {
    text-decoration: underline;
}


.btn:hover {
    box-shadow: 5px 5px 7px rgba(0,0,0,0.5);
}